<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>{% block title %}auth-form{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <section id="cover" class="min-vh-100">
            <div id="cover-caption">
                <div class="container">
                    <div class="row text-white">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-5">
                            <h1 class="display-4 py-2 text-truncate">{% block head %}{% endblock head %}</h1>
                            <div class="px-2">
                                {% block form %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% block javascripts %}{% endblock %}
    </body>
</html>
