{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block head %}Choose action{% endblock %}

{% block body %}
  <a href="/register" class="btn btn-primary btn-lg mr-2" role="button">Register</a>
  <a href="" class="btn btn-primary btn-lg" role="button">Sing in</a>
{% endblock %}
